{%- macro heading(tag='h1',label,sub,alt,alt_sub,url,back) %}
  <hgroup class="my-8 mx-4 border-(b gray-500/30) text-(gray-400 sm center) font-bold uppercase flex items-end relative after:(border-(b gray-500/30) w-[290px] absolute left-0 bottom-0)">
    <{{ tag }} class="pb-2 flex-(& wrap) items-center">
      <span class="grow flex items-center gap-1.5 relative transition [&:has(a:hover)]:text-gray-50">
        {{ label }}
        {{ caller() if caller }}
        {%- if alt_sub %}<b class="ml-4 mr-2 text-xs opacity-75">{{ alt_sub }}</b>{%- endif %}
        {{ alt }}
        {%- if sub %}<sup class="text-xs opacity-75">{{ sub }}</sup>{%- endif %}
        {%- if url %}<a href="{{ url }}" class="absolute inset-0"><span class="sr-only">{{ label }}</span></a>{%- endif %}
      </span>
    </{{ tag }}>
    {%- if back %}
      <p class="ml-auto self-center"><a href="../" class="btn btn-ghost btn-square" aria-label="Back to platforms" x-tooltip="'Back to {{ back }}'"><iconify-icon icon="mdi:arrow-left-top" class="iconify" noobserver></iconify-icon></a></p>
    {%- endif %}
  </hgroup>
{%- endmacro %}
