{%- macro heading(tag='h1',label,sub,alt,alt_sub,url,back) %}
  <hgroup class="my-8 mx-4 border-(b dotted gray-500/50) text-(gray-400 sm center) font-bold uppercase flex items-end relative after:(border-(b dotted gray-500/50) w-[290px] absolute left-0 bottom-0 content-[''])">
    <{{ tag }} class="pb-2 flex-(& wrap) items-center">
      <span class="grow flex items-center gap-1.5 relative">
        {{ label }}
        {{ caller() if caller }}
        {%- if alt_sub %}<b class="ml-4 mr-2 text-xs opacity-75">{{ alt_sub }}</b>{%- endif %}
        {{ alt }}
        {%- if sub %}<sup class="text-xs opacity-75">{{ sub }}</sup>{%- endif %}
        {%- if url %}<a href="{{ url }}" class="absolute inset-0"><span class="sr-only">{{ label }}</span></a>{%- endif %}
      </span>
    </{{ tag }}>
    {%- if back %}
      <p class="ml-auto pb-1 shrink-0 self-center"><a href="../" class="w-11 aspect-square flex items-center justify-center rounded-full transition hover:bg-gray-500/20" aria-label="Back to platforms" x-tooltip="'Back to {{ back }}'"><iconify-icon icon="mdi:arrow-left-top" width="1.25rem" height="1.25rem" class="iconify" noobserver></iconify-icon></a></p>
    {%- endif %}
  </hgroup>
{%- endmacro %}
