<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{%- if title -%}{{ title +' - ' }}{%- endif -%} {{ site.meta.title }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author + ' - '+ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <meta property="og:title" content="{% if title %}{{ title +' - '+ site.meta.title }}{% else %}{{ site.meta.title }}{% endif %}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.meta.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.meta.url }}/pxl-hd.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

  </head>

  <body class="text-(gray-400 sm) font-sans !block" style="display: none;" data-instant-intensity="mousedown">
    <div class="page min-h-screen flex-(& col)">
      <header>
        <div class="container mx-auto flex items-center relative">
          <nav>
            <ul class="nav-menu flex items-center">
              <li class="nav-home">
                <a href="/" class="p-4 block text-white motion-safe:(transition) hover:(opacity-100)" aria-label="Home">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" role="img" class="block fill-current"><title>pxl.media</title> <g fill-rule="evenodd"><rect width="8" height="8" x="8" y="8" opacity=".25"></rect> <rect width="8" height="8" y="8" opacity=".5"></rect> <rect width="8" height="8" x="8" opacity=".75"></rect> <rect width="8" height="8"></rect></g></svg>
                </a>
              </li>
              {%- for item in collections.all | eleventyNavigation %}
              <li class="nav-item">
                <a href="{{ item.url }}" class="group p-4 text-white block relative motion-safe:(transition) hover:(opacity-100){% if item.url == page.url or item.url in page.url %} active{% endif %}"
                  {%- if item.url == page.url or item.url in page.url %} aria-current="page"{%- endif -%}
                >
                  <i class="fa-fw {{ item.icon }}"></i>
                  <span class="sr-only">{{ item.key }}</span>
                  <b class="px-1 w-full h-px flex justify-center absolute inset-x-0 bottom-1"><b class="w-0 bg-current opacity-0 motion-safe:(transition-all) group-hover:(w-full opacity-100)"></b></b>
                </a>
              </li>
              {%- endfor %}
            </ul>
          </nav>
          <form class="ml-auto flex items-center" action="/search/">
            <fieldset class="mr-4 ml-auto w-64 flex justify-end items-center relative z-30">
              <label for="site-search" class="sr-only">Search</label>
              <input type="search" id="site-search" name="q" placeholder="Search..." title="Search" autocomplete="off" class="border-(& transparent) p-2 w-8 bg-transparent text-(sm transparent) cursor-pointer outline-none appearance-none relative z-10 opacity-0 motion-safe:(transition-all) focus:(w-full bg-gray-700 text-white opacity-100)" />
              <i class="fa-light fa-fw fa-lg fa-search absolute right-0 z-0 opacity-40 motion-safe:(transition)"></i>
            </fieldset>
          </form>
        </div>
      </header>
      <main class="pt-8 flex-1" data-router-wrapper>
        <section class="container mx-auto relative" data-router-view="{{ page.url | slugify }}">
          {{ content | safe }}
        </section>
      </main>
      <footer class="mt-auto py-8 text-xs">
        <div class="container mx-auto px-4">
          <ul class="text-center grid-(& cols-1) gap-y-5 md:(text-start grid-cols-2 gap-y-0)">
            <li class="foot-info flex-(& col)">
              <strong class="pb-2 tracking-wide uppercase">Credits</strong>
              <div class="flex items-center justify-center gap-x-4 md:(justify-start)">
                <a href="{{ site.meta.nick_url }}" class="text-gray-200 motion-safe:(transition) hover:(text-blue-400)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" role="img" class="w-6 fill-current">
                    <title>{{ site.meta.nick }}</title>
                    <g fill-rule="evenodd">
                      <circle opacity="0.25" cx="32.7" cy="32.7" r="2" />
                      <path d="M36.4675663,31.3530908 C38.6952853,28.1279333 40,24.2163329 40,20 C40,8.954305 31.045695,0 20,0 C8.954305,0 0,8.954305 0,20 C0,31.045695 8.954305,40 20,40 C24.2163329,40 28.1279333,38.6952853 31.3530908,36.4675663 C30.0165717,35.9897103 29.0086055,34.8208673 28.759531,33.3913763 C26.2430757,35.0407833 23.2335564,36 20,36 C11.163444,36 4,28.836556 4,20 C4,11.163444 11.163444,4 20,4 C28.836556,4 36,11.163444 36,20 C36,23.2335564 35.0407833,26.2430757 33.391374,28.7595341 C34.8208673,29.0086055 35.9897103,30.0165717 36.4675663,31.3530908 Z" />
                    </g>
                  </svg>
                </a>
                <span>UX / Design / Engineering</span>
              </div>
            </li>
            <li class="foot-tech flex-(& col)">
              <strong class="pb-2 tracking-wide uppercase md:(text-end)">Tech Stack</strong>
              <ul class="flex items-center justify-center gap-x-4 md:(justify-end)">
                {%- for nav in site.footer.nav %}
                <li>
                  <a href="{{ nav.url }}" class="motion-safe:(transition) hover:(text-blue-500)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" role="img" class="w-6 fill-current">
                      <title>{{ nav.title }}</title>
                      {{ nav.ico | safe }}
                    </svg>
                  </a>
                </li>
                {%- endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </footer>
      <div class="bg-grid fixed inset-0 z-[-1]"></div>
    </div>
    <script src="/_assets/js/_app.js?v={% bust %}"></script>
    <script src="https://kit.fontawesome.com/a2bf4ed495.js"></script>
  </body>

</html>