{%- import 'components/logo.njk' as logo -%}
{%- import 'components/heading.njk' as heading %}

<!doctype html>
<html lang="en" class="bg-transparent antialiased" x-data="">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{%- if title -%}{{ title +' - ' }}{%- endif -%} {{ site.meta.title }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author + ' - '+ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=overlays-content" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <meta property="og:title" content="{% if title %}{{ title +' - '+ site.meta.title }}{% else %}{{ site.meta.title }}{% endif %}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.meta.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.meta.url }}/pxl-hd.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

  </head>

  <body class="bg-gray-900 text-(gray-400 sm) !block" style="display: none;" data-instant-intensity="mousedown">
    <div class="page min-h-screen flex-(& col)">
      <a href="#content-main" class="p-3 m-3 bg-brand-700 text-(brand-50 xs) leading-none font-bold absolute top-0 left-0 z-50 -translate-y-16 rounded-md motion-safe:(transition) focus:(translate-y-0)">
        Skip Navigation
      </a>
      <header>
        <div class="container mx-auto">
          <nav aria-label="Main navigation">
            <ul
              x-data="{
                open: false,
                toggle() {
                  if (this.open) {
                    return this.close();
                  }
                  this.$refs.button.focus();
                  this.open = true;
                },
                close(focusAfter) {
                  if (!this.open) return;
                  this.open = false;
                  focusAfter && focusAfter.focus();
                }
              }"
              x-id="['dropdown-button']"
              @keydown.escape.prevent.stop="close($refs.button)"
              @focusin.window="!$refs.panel.contains($event.target) && close()"
              class="nav-menu p-1.5 text-xl flex items-center justify-between gap-1"
            >
              <li class="nav-home">
                <a href="/" class="w-11 h-11 text-white flex items-center justify-center opacity-40 motion-safe:(transition) hover:(opacity-100 -rotate-12)">{{ logo.pxl(title=site.meta.name,size='20') }}</a>
              </li>
              <li class="nav-menu relative">
                <button
                  x-ref="button"
                  @click="toggle()"
                  :aria-expanded="open"
                  :aria-controls="$id('dropdown-button')"
                  :class="open || 'opacity-40'"
                  class="w-11 h-11 text-white flex items-center justify-center motion-safe:(transition) hover:(opacity-100)"
                  aria-label="Home"
                >
                  <span class="flex items-center justify-center" x-show="!open" x-cloak><iconify-icon icon="mdi:menu" width="24px" height="24px" class="iconify"></iconify-icon></span>
                  <span class="flex items-center justify-center" x-show="open" x-cloak><iconify-icon icon="mdi:menu-open" width="24px" height="24px" class="iconify"></iconify-icon></span>
                </button>
                <ul
                  x-ref="panel"
                  x-show="open"
                  x-transition:enter-start="opacity-0 blur-md -translate-y-2"
                  x-transition:enter-end="opacity-100 blur-0 translate-y-0"
                  x-transition:leave-start="opacity-100 blur-0 translate-y-0"
                  x-transition:leave-end="opacity-0 blur-md -translate-y-2"
                  @click.outside="close($refs.button)"
                  :id="$id('dropdown-button')"
                  class="p-1.5 w-40 bg-[#111111] flex-(& col) gap-1 absolute top-full right-0 z-50 rounded-3xl shadow-lg motion-safe:(transition)"
                  x-cloak
                >
                  {%- for item in collections.all | eleventyNavigation %}
                  <li class="nav-item text-xs font-semibold">
                    <a href="{{ item.url }}" class="h-10 px-3 text-white flex items-center gap-2 relative opacity-60 rounded-full motion-safe:(transition) hover:(bg-white/5 opacity-100) [&.active]:(bg-white/5 opacity-100) [&.active_b>b]:(w-full opacity-100){% if item.url !== '/' %}{% if item.url === page.url or item.url in page.url %} active{% endif %}{% endif %}"{%- if item.url == page.url or item.url in page.url %} aria-current="page"{%- endif -%}>
                      <iconify-icon icon="{{ item.icon }}" width="24px" height="24px" class="flex-shrink-0 opacity-60"></iconify-icon>
                      <span class="flex-(& col 1)">
                        {%- if item.key | slugify === 'platforms' or item.key | slugify === 'genres' %}
                          <small class="mb-px leading-none opacity-60">games by:</small>
                          <span>{{ item.key.substring(0, item.key.length - 1) }}</span>
                        {%- else %}
                          <span>{{ item.key }}</span>
                        {%- endif %}
                      </span>
                    </a>
                  </li>
                  {%- endfor %}
                  <li class="nav-search">
                    <form action="/search/">
                      <label for="site-search" class="sr-only">Search</label>
                      <input
                        type="search"
                        id="site-search"
                        name="q"
                        placeholder="Search..."
                        title="Search"
                        autocomplete="off"
                        class="px-3 w-full h-10 bg-white/5 text-sm font-semibold rounded-full focus:(outline-none ring-(inset 2 white/50)) focus-visible:(outline-none) placeholder:(font-normal text-white/25) [&::-webkit-search-cancel-button]:(ml-2 w-3 h-6 appearance-none bg-(close center no-repeat) block opacity-50 cursor-pointer)"
                        x-on:keydown.window.prevent.meta.k="open = true; $nextTick(() => $el.focus())"
                      />
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main id="content-main" class="pt-8 flex-1" data-router-wrapper>
        <section class="container mx-auto relative" data-router-view="{{ page.url | slugify }}">
          {{ content | safe }}
        </section>
      </main>
      <footer class="mt-auto pt-8 text-xs md:(text-sm)">
        {%- macro footerLink(url) %}
        <a href="{{ url }}" class="text-brand-400 font-bold motion-safe:(transition) hover:(text-brand-500 underline)">{{ caller() }}</a>
        {%- endmacro %}
        <div class="container mx-auto px-4">
          <div class="py-8 border-(t dotted gray-400/30) flex-(& col) items-center gap-6 md:(flex-row justify-between)">
            <div class="flex-(& none) items-center gap-4">
              <a href="/" class="flex-none transform motion-safe:(transition) hover:(-rotate-12 text-gray-200)">{{ logo.pxl(title=site.meta.name,size='32') }}</a>
              <p class="max-w-[240px]">{{ site.meta.description }}</p>
            </div>
            <ul class="text-2xl flex items-center justify-center gap-4 md:(justify-end gap-6)">
              {%- for nav in site.footer.nav %}
              <li>
                <a href="{{ nav.url }}" x-tooltip="{{ nav.title }}" class="m-auto relative motion-safe:(transition) hover:(text-gray-200)" aria-label="{{ nav.title }}">
                  <iconify-icon icon="{{ nav.ico }}" inline="false"></iconify-icon>
                </a>
              </li>
              {%- endfor %}
            </ul>
          </div>
        </div>
        <p class="pb-8 text-center font-normal">
          Designed and engineered with
          <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 text-brand-400 inline-block fill-current" width="16" height="12" viewBox="0 0 16 12" role="img" aria-labelledby="footer-heart">
            <title id="footer-heart">Love</title>
            <polygon points="8 4 12 0 16 4 8 12 0 4 4 0"></polygon>
          </svg>
          by
          {%- call footerLink(site.meta.nick_url) -%}
            {{ site.meta.nick }}
          {%- endcall %}
          &bull; updated:
          {%- call footerLink('/changes/') -%}
            <time datetime="{{ build.time.raw }}">{{ build.time.formatted }}</time>
          {%- endcall %}
        </p>
      </footer>
      <div class="bg-gray-900 fixed inset-0 z-[-1]" aria-hidden="true">
        <div class="bg-gray-800/80 absolute inset-1 overflow-hidden rounded-xl md:(rounded-[2.5rem])" aria-hidden="true">
          <svg aria-hidden="true" class="h-full w-full text-gray-900/50 fill-current pointer-events-none absolute inset-0">
            <defs>
              <pattern
                id="pattern_grid"
                width="5"
                height="5"
                patternUnits="userSpaceOnUse"
                patternContentUnits="userSpaceOnUse"
                x="0"
                y="0"
              >
                <circle id="pattern-circle" cx="1" cy="1" r="1" />
              </pattern>
            </defs>
            <rect width="100%" height="100%" strokeWidth="0" fill="url(#pattern_grid)" />
          </svg>
        </div>
      </div>
    </div>
    <div class="loading h-1 flex fixed inset-x-0 top-0 opacity-0 motion-safe:(transition)" aria-hidden="true"><div class="loading-progress bg-brand-400"></div><span class="sr-only">Loading...</span></div>
    <script src="/_assets/js/_app.js?v={% bust %}"></script>
  </body>

</html>