---
layout: 'layouts/default.njk'
title: 'Games'
pagination:
  data: collections.game
  before: function(paginationData, fullData) {return [...paginationData].sort((a, b) => a.data.title.localeCompare(b.data.title));}
  alias: games
  size: 24
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/game.njk' as game %}

{%- call heading.x(label=title,sub=collections.game.length) %}{%- endcall %}
{{ game.x(games=games,platforms=collections.platform,genres=collections.genre) }}

{%- include 'components/pagination.njk' %}