---
layout: 'layouts/default.njk'
title: Controllers
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    title: Hardware
    icon: mdi:controller-classic
    order: 4
---

{%- from 'components/heading.njk' import heading -%}
{%- from 'components/timeline.njk' import timeline, group, point -%}

{%- call heading(tag='h1',label=title,sub=collections.controller.length) %}{%- endcall %}

{%- call timeline() %}  
  {%- for company, items in collections.controller | sort(false, false, "data.company") | groupby("data.company") %}
    {%- set colspan %}{% if company === '8Bitdo' %}true{% endif %}{%- endset %}
    {%- set url %}
      {%- if company === '8Bitdo' %}https://8bitdo.com/{%- endif %}
      {%- if company === 'Backbone' %}https://playbackbone.com/{%- endif %}
      {%- if company === 'Bandai' %}https://bandainamco.com/{%- endif %}
      {%- if company === 'HORI' %}https://stores.horiusa.com/{%- endif %}
      {%- if company === 'Junkfood Custom Arcades' %}https://junkfoodarcades.com/{%- endif %}
      {%- if company === 'Logitech' %}https://logitechg.com/{%- endif %}
      {%- if company === 'Nintendo' %}https://nintendo.com/{%- endif %}
      {%- if company === 'Old Skool' %}https://oldskoolgames.com/{%- endif %}
      {%- if company === 'Polymega' %}https://polymega.com/{%- endif %}
      {%- if company === 'Retro-Bit' %}https://retro-bit.com/{%- endif %}
      {%- if company === 'Retro Fighters' %}https://retrofighters.com/{%- endif %}
      {%- if company === 'Sammy' %}https://sega.com/{%- endif %}
      {%- if company === 'thnikk' %}https://thnikk.moe/{%- endif %}
      {%- if company === 'Wind Spirit' %}#{%- endif %}
      {%- if company === 'Wish Technologies' %}#{%- endif %}
    {%- endset %}
    {%- call group(title=company,logo=company,svg_file='controllers',url=url,colspan=colspan) %}
      {%- for item in items | sort(false, false, "data.title") %}
        {%- set meta %}
          {% for c in item.data.connection %}{{ c }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}
        {%- endset %}
        {{ point(title=item.data.title,sub=item.data.variation,meta=meta,ico='mdi:gamepad-square') }}
      {%- endfor %}
    {%- endcall %}
  {%- endfor %}
{%- endcall %}