---
layout: layouts/default.njk
title: Guides
sub: Printable
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    title: "{{ sub }}"
    icon: mdi:library-books
    order: 4
---

{%- from 'components/heading.njk' import heading -%}

{%- call heading(tag='h1',label=title,sub=guides.length) %}{%- endcall %}

<p class="py-8 px-4 text-(4xl center) font-black motion-safe:animate-pulse">
  Soon...
</p>
