---
layout: layouts/default.njk
title: Music
#eleventyComputed:
  #eleventyNavigation:
    #key: "{{ title }}"
    #title: OST
    #icon: mdi:music-box-outline
    #order: 6
---

{%- set music = collections.music -%}

{%- from 'components/heading.njk' import heading -%}

{%- call heading(tag='h1',label=title,sub=music.length) %}{%- endcall %}

<h2 class="m-auto py-8 px-4 text-gray-500 text-[calc(2vw+2vh)] leading-none font-bold text-center md:(py-32)">
  Soon...
</h2>