---
layout: layouts/default.njk
title: Music
sub: OST
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    title: "{{ sub }}"
    icon: mdi:music
    order: 5
---

{%- from 'components/heading.njk' import heading -%}

{%- set music = collections.music -%}

{%- call heading(tag='h1',label=title,sub=music.length) %}{%- endcall %}

<p class="py-8 px-4 text-(4xl center) font-black motion-safe:animate-pulse">
  Soon...
</p>
