{%- import 'components/tooltip.njk' as tooltip -%}

{%- macro x(games=[],platforms=[],genres=[],by='data.title') %}
<ul class="list-game pb-4 flex flex-wrap">
{%- for item in games | sort(false, false, by) %}
  <li class="game mx-auto lg:mx-0 mb-8 px-4 w-full max-w-xs flex relative hover:z-20">
    <div class="box w-full flex flex-wrap relative rounded-lg shadow-xl{% if item.data.pending %} ring-2 ring-red-500{%- endif %}">
      <figure class="cover w-full h-16 bg-black/80 flex relative rounded-t-lg">
        <figcaption class="w-full bg-(cover center) flex rounded-t-lg" style="background-image: url('/_assets/img/games/{{ item.data.page.fileSlug }}.jpg')"><div class="w-full backdrop-brightness-50 rounded-t-lg"></div></figcaption>
        <figure class="group w-1/2 p-2 flex items-end justify-end absolute inset-y-0 right-0">
          <figcaption class="bg-gradient-to-l from-[#111] via-[#111] to-transparent block absolute inset-0 opacity-90 rounded-t-lg"></figcaption>
          {%- for t in item.data.tags %}
          {%- for p in platforms %}
          {%- if p.data.page.fileSlug === t.replace('platform_', '') %}
          <a href="/platform/{{ p.data.page.fileSlug }}/" class="text-gray-200/50 block relative motion-safe:transition-all hover:(text-white opacity-100)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 60" role="img" class="w-[80px] h-auto fill-current">
              <title>{{ p.data.title }}</title>
              <g>{{ p.data.logo | safe }}</g>
            </svg>
          </a>
          {%- endif %}
          {%- endfor %}
          {%- endfor %}
        </figure>
      </figure>
      <div class="details w-full flex">
        <div class="meta p-3 pb-0 w-full min-w-0 flex-1 flex flex-col justify-between motion-safe:transition-all">
          <div class="mast mb-2">
            <b class="name text-(white base) font-black block truncate" title="{{ item.data.title }}">{{ item.data.title }}</b>
            <p class="note">
              <i class="w-full min-w-0 text-(gray-400 xs) block truncate flex-1" title="{{ item.data.note }}">{{ item.data.note | default('&nbsp;') | safe }}</i>
            </p>
          </div>
          <ul class="py-2 border-(t dashed gray-500/30) w-full text-base flex items-center">
            <li class="flex-1">
              <ul class="tags flex space-x-4">
                {%- for t in item.data.tags %}
                {%- for g in genres %}
                {%- if g.data.page.fileSlug === t.replace('genre_', '') %}
                <li>
                  <a href="/genre/{{ g.data.page.fileSlug }}/" class="group relative motion-safe:transition hover:(text-white)" title="{{ g.data.title }}">
                    <iconify-icon icon="{{ g.data.ico }}" inline="false" class="text-xl"></iconify-icon>
                    {{ tooltip.x(tip=g.data.title) }}
                  </a>
                </li>
                {%- endif %}
                {%- endfor %}
                {%- endfor %}
              </ul>
            </li>
            <li class="ml-auto">
              <ul class="icons flex space-x-2">
              {% for i in range(0, 3) -%}
              {%- if (i === 0 and item.data.physical) or (i === 1 and item.data.digital) or (i === 2 and item.data.guide) %}
                <li class="group flex items-center justify-center relative" tabindex="0">
                  <iconify-icon icon="{% if i === 0 %}mdi:chip{% endif %}{% if i === 1 %}mdi:qrcode{% endif %}{% if i === 2 %}mdi:notebook{% endif %}" inline="false" class="m-auto text-xl opacity-50"></iconify-icon>
                  {%- set tip %}
                    {%- if i === 0 %}Physical{%- endif %}
                    {%- if i === 1 %}Digital{%- endif %}
                    {%- if i === 2 %}Guide{%- endif %}
                  {%- endset %}
                  {{ tooltip.x(tip=tip) }}
                </li>
              {%- endif %}
              {%- endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      {%- if item.data.pending %}
      <a href="/games/pending/" class="w-2 h-2 text-red-500 bg-current cursor-pointer absolute top-2 right-2 rounded-full" title="Pending">
        <i class="ring-2 ring-current absolute inset-0 z-10 rounded-full animate-ping" aria-hidden="true"><span class="sr-only">Pending: Pre-Ordered</span></i>
      </a>
      {%- endif %}
    </div>
  </li>
{%- endfor %}
</ul>
{%- endmacro %}

{# title='',
slug='',
note='',
platform='',
genre='',
physical='',
digital='',
guide='',
pending='',
posted='', #}