<li class="game mx-auto mb-8 px-4 w-full max-w-xs flex relative hover:(z-20) focus-within:(z-20) lg:(mx-0)">
  <div class="box w-full bg-white/5 flex-(& col) relative rounded-lg ring-(inset 1 white/5) shadow-lg">
    <div class="box-cover w-full h-16 bg-black/80 flex-(& none) relative overflow-hidden rounded-t-lg">
      <div class="box-cover-img flex w-full bg-center bg-cover ring-(inset 1 white/10)" :style="'background-image: url(/_assets/img/games/'+ item.id +'.jpg)'"><div class="w-full backdrop-brightness-75 rounded-t-lg"></div></div>
      <div class="group w-1/2 p-2 flex items-end justify-end absolute inset-y-0 right-0">
        <div class="box-backdrop bg-gradient-to-l from-[#111] via-[#111] to-transparent block absolute inset-0 opacity-90"></div>
        <a :href="'/platform/'+ slugify(item.platform.title) +'/'" class="text-gray-200/75 block relative motion-safe:transition hover:(text-white/100)">
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="60" role="img" class="w-[80px] h-auto fill-current">
            <title x-text="item.platform.title"></title>
            <use :href="'/_assets/platforms.svg?v={% bust %}#logo-'+ slugify(item.platform.title)" />
          </svg>
        </a>
      </div>
    </div>
    <div class="details w-full flex-(& auto)">
      <div class="meta p-3 pb-0 w-full min-w-0 flex-(& auto col) justify-between">
        <div class="mast mb-2">
          <b class="name text-(white base) font-black truncate block" :title="'...'+ item.title" x-text="item.title"></b>
          <p class="note">
            <i class="w-full min-w-0 text-(gray-400 xs) truncate block flex-1" :title="'...'+ item.note" x-html="item.note ? item.note : '&nbsp;'"></i>
          </p>
        </div>
        <ul class="py-2 border-(t dotted gray-500/50) w-full text-base flex items-center">
          <li class="flex-1">
            <ul class="tags flex items-center space-x-4">
              <template x-for="g in item.genre" hidden>
                <li>
                  <a :href="'/genre/'+ slugify(g.title) +'/'" class="group flex relative motion-safe:(transition) hover:(text-white)" x-tooltip="g.title">
                    <iconify-icon :icon="g.ico" inline class="m-auto text-xl" noobserver></iconify-icon>
                  </a>
                </li>
              </template>
            </ul>
          </li>
          <li class="ml-auto">
            <ul class="icons flex items-center space-x-2">
              <template x-for="i in 3">
                <template x-if="(i === 1 && item.physical) || (i === 2 && item.digital) || (i === 3 && item.guide)">
                  <li class="group flex relative [&_.iconify]:(m-auto text-xl opacity-50)" tabindex="0" x-tooltip="i === 1 ? 'Physical' : i === 2 ? 'Digital' : i === 3 ? 'Guide' : ''">
                    <template x-if="i === 1">
                      <iconify-icon icon="mdi:chip" inline class="iconify" noobserver></iconify-icon>
                    </template>
                    <template x-if="i === 2">
                      <iconify-icon icon="mdi:qrcode" inline class="iconify" noobserver></iconify-icon>
                    </template>
                    <template x-if="i === 3">
                      <iconify-icon icon="mdi:notebook" inline class="iconify" noobserver></iconify-icon>
                    </template>
                  </li>
                </template>
              </template>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <template x-if="item.pending">
      <a href="/games/pending/" x-tooltip="'Pending / Preordered'" class="w-2 h-2 text-red-500 bg-current cursor-pointer absolute top-2 right-2 rounded-full" aria-label="Pending / Preordered">
        <i class="ring-(2 current) absolute inset-0 z-10 rounded-full animate-ping" aria-hidden="true"></i>
      </a>
    </template>
  </div>
</li>
