{%- macro x(tag='h1',label='',sub='',alt='',alt_sub='',url='') %}
  <div class="h-hr mt-8 mb-6 pb-2 px-4 text-(gray-400 sm center) font-bold uppercase flex-(& col) relative md:(text-left items-start)">
    <div class="pb-2 w-full flex-(& wrap) items-center">
      <{{ tag }} class="relative">
        {%- if sub !== '' %}<b class="mr-2 text-xs opacity-75">{{ sub }}</b>{%- endif %}
        {{ label }}
        {{ caller() }}
        {%- if alt_sub !== '' %}<b class="ml-4 mr-2 text-xs opacity-75">{{ alt_sub }}</b>{%- endif %}
        {{ alt }}
        {%- if url !== '' %}<a href="{{ url }}" class="absolute inset-0"><span class="sr-only">{{ label }}</span></a>{%- endif %}
      </{{ tag }}>
    </div>
    <b class="py-px w-full max-w-[300px] bg-current opacity-60" aria-hidden="true"></b>
    <b class="border-(b dotted current) w-full opacity-30" aria-hidden="true"></b>
  </div>
{%- endmacro %}