{% macro pxl(title='',size='16') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" viewBox="0 0 {{ size }} {{ size }}" role="img" class="block fill-current">
  {% if title !== '' %}<title>{{ title }}</title>{% endif %}
  <g fill-rule="evenodd">
    <rect width="{{ size / 2 }}" height="{{ size / 2 }}" />
    <rect width="{{ size / 2 }}" height="{{ size / 2 }}" x="{{ size / 2 }}" opacity=".75" />
    <rect width="{{ size / 2 }}" height="{{ size / 2 }}" y="{{ size / 2 }}" opacity=".5" />
    <rect width="{{ size / 2 }}" height="{{ size / 2 }}" x="{{ size / 2 }}" y="{{ size / 2 }}" opacity=".25" />
  </g>
</svg>
{% endmacro %}