{%- macro mast(title='',label='',logo='',ico='') %}
{%- set slot = caller() -%}
<div class="group container mx-auto px-4 flex items-center relative">
  <div class="py-1 pr-4 text-7xl leading-none flex-1">
    <h1{% if ico %} class="flex items-center space-x-5"{% endif %}>
      <span class="flex items-center">
        {%- if logo %}
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="60" role="img" class="w-auto h-16 fill-current">
          <title>{{ title }}</title>
          <use href="/_assets/platforms.svg?v={% bust %}#logo-{{ title | slugify }}" />
        </svg>
        {%- endif %}
        {%- if slot | trim != '' %}
          <b class="text-gray-200 tracking-tighter motion-safe:transition group-hover:(text-white)">{{ slot }}</b>
        {%- endif %}
        {%- if not logo and ico %}
          <iconify-icon icon="{{ ico }}" inline="false" class="text-6xl" noobserver></iconify-icon>
        {%- endif %}
      </span>
      {%- if label %}
        <b class="py-1 tracking-normal uppercase opacity-75 text-xl hidden sm:(block)">
          {{ label }}
        </b>
      {%- endif %}
    </h1>
  </div>
</div>
{%- endmacro %}
