<nav aria-label="Main navigation">
  <ul
    x-data="{
      open: false,
      toggle() {
        if (this.open) {
          return this.close();
        }
        this.$refs.button.focus();
        this.open = true;
      },
      close(focusAfter) {
        if (!this.open) return;
        this.open = false;
        focusAfter && focusAfter.focus();
      }
    }"
    x-id="['dropdown-button']"
    @keydown.escape.prevent.stop="close($refs.button)"
    @focusin.window="!$refs.panel.contains($event.target) && close()"
    class="nav-menu p-1.5 text-xl flex items-center justify-between gap-1"
  >
    <li class="nav-home">
      <a href="/" class="w-11 h-11 text-white flex items-center justify-center opacity-40 motion-safe:(transition) hover:(opacity-100 -rotate-12)">{{ logo(title=site.meta.name,size='20') }}</a>
    </li>
    <li class="nav-menu relative">
      <button
        x-ref="button"
        @click="toggle()"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
        :class="open || 'opacity-40'"
        class="w-11 h-11 text-white flex items-center justify-center motion-safe:(transition) hover:(opacity-100)"
        aria-label="Home"
      >
        <span class="flex items-center justify-center" x-show="!open" x-cloak><iconify-icon icon="mdi:menu" width="24px" height="24px" class="iconify"></iconify-icon></span>
        <span class="flex items-center justify-center" x-show="open" x-cloak><iconify-icon icon="mdi:menu-open" width="24px" height="24px" class="iconify"></iconify-icon></span>
      </button>
      <ul
        x-ref="panel"
        x-show="open"
        x-transition:enter-start="opacity-0 blur-md -translate-y-2"
        x-transition:enter-end="opacity-100 blur-0 translate-y-0"
        x-transition:leave-start="opacity-100 blur-0 translate-y-0"
        x-transition:leave-end="opacity-0 blur-md -translate-y-2"
        @click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        class="p-1.5 w-40 bg-[#111111] flex-(& col) gap-2 absolute top-full right-0 z-50 rounded-3xl shadow-lg motion-safe:(transition)"
        x-cloak
      >
        {%- for item in collections.all | eleventyNavigation %}
        <li class="nav-item text-xs font-semibold">
          <a href="{{ item.url }}" class="h-10 px-3 text-white flex items-center gap-2 relative opacity-60 rounded-full motion-safe:(transition) hover:(bg-white/5 opacity-100) [&.active]:(bg-white/5 opacity-100) [&.active_b>b]:(w-full opacity-100){% if item.url !== '/' %}{% if item.url === page.url or item.url in page.url %} active{% endif %}{% endif %}"{%- if item.url === page.url or item.url in page.url %} aria-current="page"{%- endif -%}>
            <iconify-icon icon="{{ item.icon }}" width="24px" height="24px" class="flex-shrink-0 opacity-60"></iconify-icon>
            <span class="flex-(& col 1)">
              <small class="mb-px text-[11px] leading-none opacity-60">{{ item.title }}</small>
              {%- if item.key | slugify === 'platforms' or item.key | slugify === 'genres' %}
                <span>{{ item.key.substring(0, item.key.length - 1) }}</span>
              {%- else %}
                <span>{{ item.key }}</span>
              {%- endif %}
            </span>
          </a>
        </li>
        {%- endfor %}
        <li class="nav-search">
          <form action="/search/">
            <label for="site-search" class="sr-only">Search</label>
            <input
              type="search"
              id="site-search"
              name="q"
              placeholder="Search..."
              title="Search"
              autocomplete="off"
              class="px-3 w-full h-10 bg-black/50 text-sm font-semibold rounded-full ring-(inset 2 transparent) motion-safe:(transition) focus:(outline-none ring-white/50) focus-visible:(outline-none) placeholder:(font-normal text-white/25) [&::-webkit-search-cancel-button]:(ml-2 w-3 h-6 appearance-none bg-(close center no-repeat) block opacity-50 cursor-pointer)"
              x-on:keydown.window.prevent.meta.k="open = true; $nextTick(() => $el.focus())"
            />
          </form>
        </li>
      </ul>
    </li>
  </ul>
</nav>