<nav class="pb-10" aria-labelledby="games-nav">
  <p id="games-nav" class="sr-only">Games navigation</p>
  <ol class="flex items-center justify-center gap-x-5">
    <li{% if pagination.href.previous %}{% else %} class="pointer-events-none opacity-50"{% endif %}><a href="{{ pagination.href.previous }}" title="Previous page"><i class="fa-light fa-fw fa-angle-left"></i></a></li>
    <li class="text-xs flex flex-wrap items-center justify-center">
      {%- if pagination.pageNumber %}
      <b class="text-gray-300 font-black">{{ pagination.pageNumber }}</b>
      <small class="mx-3 text-sm opacity-70">of</small>
      {%- endif %}
      <small class="text-xs">{{ pagination.pages.length }}</small>
      {%- if pagination.pageNumber %}
      {%- else %}
      <small class="mx-3 text-sm opacity-70">pages</small>
      {%- endif %}
    </li>
    <li{% if pagination.href.next %}{% else %} class="pointer-events-none opacity-50"{% endif %}><a href="{{ pagination.href.next }}" title="Next page"><i class="fa-light fa-fw fa-angle-right"></i></a></li>
  </ol>
</nav>