{%- set disable -%}class="pointer-events-none opacity-50"{%- endset -%}

<nav aria-label="Games navigation">
  <ol class="flex items-center justify-center gap-x-3 sm:(gap-x-5)">
    <li {{ disable | safe if not pagination.href.previous }}><a href="{{ pagination.href.previous }}" title="Previous page"><iconify-icon icon="mdi:chevron-left" inline class="text-xl block" noobserver></iconify-icon></a></li>
    <li class="text-xs flex flex-wrap items-center justify-center">
      {%- if pagination.pageNumber %}
      <b class="text-gray-300 font-black">{{ pagination.pageNumber }}</b>
      <small class="mx-3 text-sm opacity-70">of</small>
      {%- endif %}
      <small class="text-xs">{{ pagination.pages.length - 1 }}</small>
      {%- if not pagination.pageNumber %}
      <small class="mx-3 text-sm hidden opacity-70 sm:(block)">pages</small>
      {%- endif %}
    </li>
    <li {{ disable | safe if not pagination.href.next }}><a href="{{ pagination.href.next }}" title="Next page"><iconify-icon icon="mdi:chevron-right" inline class="text-xl block" noobserver></iconify-icon></a></li>
  </ol>
</nav>
