{#-
  cols: int
-#}
{%- macro stats(param) -%}
<div class="stats mx-auto w-full max-w-xs bg-gradient-to-t from-white/5 grid-(& cols-1) overflow-hidden rounded-lg lg:(max-w-none grid-cols-{{ param.cols if param.cols else '4' }})">
{{ caller() if caller }}
</div>
{%- endmacro -%}

{#-
  tag: string
  ico: string
  value: string
  title: string
  url: string
  sub: [{
    title: string
    value: string
  }]
-#}
{%- macro stat(param) -%}
{%- set heading -%}{{ param.tag if param.tag else 'h2' }}{%- endset -%}
<div class="stat p-4 grid [grid-template-columns:repeat(1,1fr)] gap-4 relative">
  <div class="stat-figure w-12 h-12 col-start-2 row-start-1 row-span-1 opacity-50">
    <iconify-icon icon="{{ param.ico }}" width="48px" height="48px" class="iconify" noobserver></iconify-icon>
  </div>
  <hgroup class="space-y-2">
    <{{ heading }} class="stat-value text-(gray-200 5xl) leading-[48px] tracking-tighter font-semibold">{{ param.value }}</{{ heading }}>
    <p>
      <a href="{{ param.url if param.url else '#' }}" class="stat-title group text-base leading-none font-semibold uppercase motion-safe:(transition) hover:(text-white)">
        {{ param.title }}
        <span class="absolute inset-0 z-10 rounded-xl after:(content-[''] w-16 h-16 bg-brand-500/20 absolute top-2 right-2 opacity-75 rounded-full motion-safe:(transition-all)) motion-safe:(transition) group-hover:(shadow-[inset_0_1px_0_rgb(255_255_255_/_0.15)] after:(opacity-100 scale-[1000%])) group-focus:(ring-(1 inset brand-300/20) after:(opacity-100 scale-[1000%]))"></span>
      </a>
    </p>
  </hgroup>
  <ul class="stat-desc font-semibold uppercase col-span-2 flex items-center gap-3">
    {%- for item in param.sub -%}
      <li class="text-xs">
        <strong class="sub-title mr-px text-(gray-200 sm) leading-none">{{ item.value }}</strong>
        <small class="sub-title opacity-70">{{ item.title }}</small>
      </li>
    {%- endfor -%}
  </ul>
</div>
{%- endmacro -%}
