{%- macro timeline() %}
<ul class="container mx-auto px-4 mb-12 md:(gap-12 grid-(& cols-2)">
  {{ caller() if caller }}
</ul>
{%- endmacro %}

{%- macro group(title='Title',logo='',svg_file='platforms',url='#',colspan='') %}
<li class="mb-12 flex-(& col) items-start{% if colspan %} col-span-2{% endif %} md:(mb-0)">
  <a href="{{ url }}" class="group py-5 border-(b dotted gray-500/30) flex-none{% if url === '#' %} pointer-events-none{% endif %} hover:(text-white)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 60" role="img" class="w-auto h-12 max-w-full fill-current opacity-50 motion-safe:(transition) group-hover:(opacity-100)">
      <title>{{ title }}</title>
      <use href="/_assets/{{ svg_file }}.svg#logo-{{ title | slugify }}" />
    </svg>
  </a>
  <ul class="pl-5 w-full grid-(& cols-1) md:(pl-12{% if colspan %} grid-cols-2 gap-x-12{% endif %})">
    {{ caller() if caller }}
  </ul>
</li>
{%- endmacro %}

{%- macro point(title='Title',sub='Sub',meta='Meta',ico='mdi:desktop-tower') %}
<li class="border-(b dotted gray-500/30) flex items-center relative">
  <div class="flex-(& col none) justify-center">
    <b class="h-4 border-(l dotted gray-500/30)"></b>
    <div class="group w-8 h-8 flex-(& none) border-(1 dotted gray-500/30) relative rounded-full transform -translate-x-4">
      <iconify-icon icon="{{ ico }}" inline="false" class="m-auto text-2xl opacity-50"></iconify-icon>
    </div>
    <b class="border-(l dotted gray-500/30) h-4"></b>
  </div>
  <div class="pl-2 flex-(& col 1) gap-1">
    <b class="text-gray-200">{{ title }}</b>
    <div class="leading-tight flex justify-between gap-2 opacity-75">
      <small>{{ sub }}</small>
      <small class="text-end">{{ meta }}</small>
    </div>
  </div>
</li>
{%- endmacro %}