---
permalink: '{{ page.filePathStem }}.json'
---
[
{%- for item in collections.game | sort(false, false, "data.title") %}
  {
    "id": "{{ item.data.page.fileSlug }}",
    "title": "{{ item.data.title | safe }}",
    "note": "{{ item.data.note | safe }}",
    "physical": {{ item.data.physical | safe }},
    "digital": {{ item.data.digital | safe }},
    "guide": {{ item.data.guide | safe }},
    "pending": {{ item.data.pending | safe }},
    "genre": [
      {%- set thisGenres = [] -%}
      {%- for t in item.data.tags -%}
        {%- for g in collections.genre -%}
          {%- if g.data.page.fileSlug === t.replace('genre_', '') -%}
            {%- set thisGenres = (thisGenres.push(g), thisGenres) -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
      {%- for genre in thisGenres %}
      { "title": "{{ genre.data.title }}", "ico": "{{ genre.data.ico}}" }{% if not loop.last %},{% endif %}
      {%- endfor %}
    ],
    "platform": {
      {%- set thisPlatforms = [] -%}
      {%- for t in item.data.tags -%}
        {%- if t.includes('platform_') -%}
          {%- for p in collections.platform -%}
            {%- if p.data.page.fileSlug === t.replace('platform_', '') -%}
              {%- set thisPlatforms = (thisPlatforms.push(p), thisPlatforms) -%}
            {%- endif -%}
          {%- endfor %}
        {%- endif -%}
      {%- endfor -%}
      {%- for platform in thisPlatforms %}
        "title": "{{ platform.data.title }}"
      {%- endfor %}
    }
  }{% if not loop.last %},{% endif %}
{%- endfor %}
]