---
layout: layouts/default.njk
---

{%- from 'components/stats.njk' import stats, stat -%}
{%- from 'components/heading.njk' import heading -%}
{%- from 'components/game.njk' import game -%}

{#- physical -#}
{%- set gamesPhysicalAll = [] -%}{%- for g in collections.game -%}{%- if g.data.physical -%}{%- set gamesPhysicalAll = (gamesPhysicalAll.push(g), gamesPhysicalAll) -%}{%- endif -%}{%- endfor -%}

{#- digital -#}
{%- set gamesDigitalAll = [] -%}{%- for g in collections.game -%}{%- if g.data.digital -%}{%- set gamesDigitalAll = (gamesDigitalAll.push(g), gamesDigitalAll) -%}{%- endif -%}{%- endfor -%}

{#- console -#}
{%- set systemsConsolesAll = [] -%}{%- for g in collections.system -%}{%- if g.data.system_type === 'console' -%}{%- set systemsConsolesAll = (systemsConsolesAll.push(g), systemsConsolesAll) -%}{%- endif -%}{%- endfor -%}

{#- handheld -#}
{%- set systemsHandheldsAll = [] -%}{%- for g in collections.system -%}{%- if g.data.system_type === 'handheld' -%}{%- set systemsHandheldsAll = (systemsHandheldsAll.push(g), systemsHandheldsAll) -%}{%- endif -%}{%- endfor -%}

{#- hybrid -#}
{%- set systemsHybridsAll = [] -%}{%- for g in collections.system -%}{%- if g.data.system_type === 'hybrid' -%}{%- set systemsHybridsAll = (systemsHybridsAll.push(g), systemsHybridsAll) -%}{%- endif -%}{%- endfor -%}

{#- mini -#}
{%- set systemsMinisAll = [] -%}{%- for g in collections.system -%}{%- if g.data.system_type === 'mini' -%}{%- set systemsMinisAll = (systemsMinisAll.push(g), systemsMinisAll) -%}{%- endif -%}{%- endfor -%}

{#- wireless 2.4Ghz + Bluetooth -#}
{%- set controllersWireless = [] -%}{%- for c in collections.controller -%}{%- for x in c.data.connection -%}{%- if x === 'Bluetooth' or x === '2.4Ghz' -%}{%- set controllersWireless = (controllersWireless.push(x), controllersWireless) -%}{%- endif -%}{%- endfor -%}{%- endfor -%}

{#- usb -#}
{%- set controllersUsb = [] -%}{%- for c in collections.controller -%}{%- for x in c.data.connection -%}{%- if x === 'USB' -%}{%- set controllersUsb = (controllersUsb.push(x), controllersUsb) -%}{%- endif -%}{%- endfor -%}{%- endfor -%}

{#- adapters -#}
{%- set controllersAdapters = [] -%}{%- for c in collections.controller -%}{%- if c.data.variation.includes('Adapter') -%}{%- set controllersAdapters = (controllersAdapters.push(c), controllersAdapters) -%}{%- endif -%}{%- endfor -%}

{#- recent -#}
{%- set gamesRecentAll = [] -%}
{%- for g in collections.game -%}
  {%- if not g.data.pending -%}
    {%- set gamesRecentAll = (gamesRecentAll.push(g), gamesRecentAll) -%}
  {% endif -%}
{%- endfor -%}
{%- set gamesRecent = [] -%}
{%- for g in gamesRecentAll | reverse -%}
  {%- if loop.index < 7 -%}
    {%- set gamesRecent = (gamesRecent.push(g), gamesRecent) -%}
  {%- endif -%}
{%- endfor -%}

{#- pending -#}
{%- set gamesPendingAll = [] -%}
{%- for g in collections.game -%}
  {%- if g.data.pending -%}
    {%- set gamesPendingAll = (gamesPendingAll.push(g), gamesPendingAll) -%}
  {%- endif -%}
{%- endfor -%}
{%- set gamesPending = [] -%}
{%- for g in gamesPendingAll -%}
  {%- if loop.index < 7 -%}
    {%- set gamesPending = (gamesPending.push(g), gamesPending) -%}
  {%- endif -%}
{%- endfor -%}

<div class="px-4 grid-(& cols-1) gap-4 md:(py-6 grid-cols-2) lg:(py-12 grid-cols-3)">
  {%- call stats({ cols: 1 }) %}
    {{ stat({
      tag: 'h1',
      ico: 'mdi:cube',
      value: collections.game.length.toLocaleString(),
      title: 'Games',
      url: '/games/',
      sub: [
        {
          title: 'Physical',
          value: gamesPhysicalAll.length.toLocaleString()
        },
        {
          title: 'Digital',
          value: gamesDigitalAll.length.toLocaleString()
        }
      ]
    }) }}
  {%- endcall %}
  {%- call stats({ cols: 1 }) %}
    {{ stat({
      tag: 'h1',
      ico: 'mdi:television-classic',
      value: collections.platform.length.toLocaleString(),
      title: 'Platforms',
      url: '/platform/',
      sub: [
        {
          title: 'Systems',
          value: collections.system.length.toLocaleString()
        },
        {
          title: 'Handhelds',
          value: (systemsHandheldsAll.length+systemsHybridsAll.length).toLocaleString()
        }
      ]
    }) }}
  {%- endcall %}
  {%- call stats({ cols: 1 }) %}
    {{ stat({
      tag: 'h1',
      ico: 'mdi:controller-classic',
      value: collections.controller.length.toLocaleString(),
      title: 'Controllers',
      url: '/controllers/',
      sub: [
        {
          title: 'Wireless',
          value: controllersWireless.length.toLocaleString()
        },
        {
          title: 'USB',
          value: controllersUsb.length.toLocaleString()
        }
      ]
    }) }}
  {%- endcall %}
  {#-
  {%- call stats({ cols: 1 }) %}
    {{ stat({
      tag: 'h1',
      ico: 'mdi:book-open-page-variant-outline',
      value: '__',
      title: 'Books',
      url: '/books/',
      sub: [
        {
          title: 'En',
          value: '__'
        },
        {
          title: 'Jp',
          value: '__'
        }
      ]
    }) }}
  {%- endcall %}
  {%- call stats({ cols: 1 }) %}
    {{ stat({
      tag: 'h1',
      ico: 'mdi:music-box-outline',
      value: '__',
      title: 'Music',
      url: '/music/',
      sub: [
        {
          title: 'En',
          value: '__'
        },
        {
          title: 'Jp',
          value: '__'
        }
      ]
    }) }}
  {%- endcall %}
  -#}
</div>

{%- call heading(tag='h2',label='Recently added',sub=6) %}{%- endcall %}
{{ game(games=gamesRecent,platforms=collections.platform,genres=collections.genre,by='data.date',reverse=true) }}

{%- call heading(tag='h2',label='Pending',sub=gamesPendingAll.length,url='/games/pending/') %}{%- endcall %}
{{ game(games=gamesPending,platforms=collections.platform,genres=collections.genre) }}
