---
layout: layouts/default.njk
title: Emu
company: emu
logo: |
  <path d="m89 10v29h-4v-29h-11v40h26v-40z" />
  <path d="m30 10v40h11v-29h4v29h11v-29h4v29h11v-40z" />
  <path d="m26 50v-11h-15v-4h15v-10h-15v-4h15v-11h-26v40z" />
disc: false
cartridge: false
games: false
tags:
  - platform
  - multi
date: 0040-00-00
---

{%- set name = title | slugify -%}
{%- include '_multi.njk' %}
