---
layout: layouts/default.njk
title: Change Log
gh:
  base: https://github.com/craigerskine/
  repo: pxl.media
---

{%- from 'components/heading.njk' import heading -%}

{%- call heading(tag='h1',label=title) %}{%- endcall %}

<ol role="list" class="mx-auto px-4 w-full max-w-md text-xs">
  {%- for commit in collections.recentChanges %}
  <li class="flex gap-x-10 relative">
    <aside class="pb-10 text-end shrink-0 pointer-events-none -translate-y-0.5">
      <time class="mt-0.5 font-bold block relative after:(ml-2 w-6 border-(t dotted gray-500/50) block absolute top-2 left-full content-[''])">{{ commit.authorDate | dateOnly }}</time>
      {#- <p class="opacity-70">#{{ commit.abbrevHash }}</p> -#}
    </aside>
    <div class="flex-(& col) items-center shrink-0 pointer-events-none" aria-hidden="true">
      <b class="w-4 h-4 bg-green-500/30 text-(green-500 xs) flex items-center justify-center rounded-sm outline-(& 1 current offset-1)"><iconify-icon icon="mdi:check" class="iconify" noobserver></iconify-icon></b>
      {%- if not loop.last %}
        <i class="my-2 w-px border-(l dotted gray-500/50) flex-1"></i>
      {%- endif %}
    </div>
    <article class="pb-10 grow">
      <p class="pt-px font-bold opacity-70 pointer-events-none relative before:(mr-2 w-6 border-(t dotted gray-500/50) block absolute top-2 right-full content-[''])">{{ commit.authorName }}</p>
      <h2 class="mt-1 text-sm line-clamp-1">
        <a href="{{ gh.base }}{{ gh.repo }}/commit/{{ commit.hash }}" class="after:(content-[''] block absolute -top-4 bottom-4 -inset-x-4 z-10 rounded-xl scale-90 transition) transition focus-visible:(outline-(& 1 offset-[-1px]) rounded-sm) hover:(text-white underline after:(bg-gray-500/10 scale-100))">{{ commit.subject }}</a>
      </h2>
    </article>
  </li>
  {%- endfor %}
</ol>

<p class="text-center"><a href="https://github.com/craigerskine/pxl.media/commits/" x-tooltip="'More commits...'" class="border-(& gray-500/20) w-11 h-11 text-xl inline-flex items-center justify-center rounded-full transition hover:(bg-gray-500/20 text-gray-200)"><iconify-icon icon="mdi:gamepad-round-right" noobserver></iconify-icon></a></p>
