---
layout: layouts/default.njk
title: Genres
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    title: Filtered by
    icon: mdi:pound
    order: 2
permalink: /genre/
---

{%- from 'components/heading.njk' import heading -%}
{%- from 'components/category.njk' import category -%}

{%- call heading(tag='h1',label=title,sub=collections.genre.length) -%}{%- endcall -%}
<ul class="container flex-(& wrap) justify-center md:(justify-start)">
{%- for item in collections.genre -%}
  {%- set total -%}
    {%- set totalItems = [] -%}
      {%- for g in collections.game -%}
        {%- for t in g.data.tags -%}
          {%- if t === 'genre_'+ item.data.page.fileSlug -%}
            {%- set totalItems = (totalItems.push({title: g.data.title}), totalItems) -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    {{ totalItems | length }}
    <b class="font-normal uppercase">Games</b>
  {%- endset -%}
  {{ category(title=item.data.title,subtext=total,url='/genre/'+ item.data.page.fileSlug +'/',fg_ico=item.data.ico) }}
{%- endfor -%}
</ul>
